
{% extends 'head2_tail2.html' %}

{% block ddos %}

<html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:1000px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br>
<center>

<div style="width:90%;height:920px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<center>

<H2 style="color:black;"><br>ADWARE</style></H2>
    
    <center>

  <div style="width:80%;height:800px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

          <p style="color:black;"><B>Adware refers to a type of malware that displays unwanted advertisements on your computer or device. Adware is commonly activated unknowingly when users are trying to install legitimate applications that adware is bundled with.

            While sometimes, adware can be safe, some pop-up windows intend to not only display advertisements but also collect data and information in order to target you with customised adverts. In these cases, adware can direct you to malicious websites and infected pages through various advert links, putting you at risk of computer viruses

      </B></p>
      <br>
      <br>
          
      <h1 style="color:black"><B>How to detect Adware</B></h1>

      
 <p style="color:black;"><B>The most common way to recognise adware is the appearance of pop-up advertisements and applications that you are unfamiliar with and on browsers where they had not been displayed before.

  In some cases, adware can also cause changes to your browser, below are a few things to look out for:
  
  <br>Lagging performance and eventual crashing
  <br>
  Unrequested changes to your browser homepages
  <br>Appearance of new extensions and toolbars
  <br>Web pages not displaying properly
  <br>Unwanted software installing


      </B></p>


<br>

<h1 style="color:black"><B>
  
  </B></h1>


 <p style="color:black;">
 <B></B>
 <br>

  
  <h1 style="color:black"><B>Types of Adware</B></h1>
  
  <p style="color:black;"><B> Adware commonly takes the form of irritating pop-up windows and banners; however, it can act in many different ways:

    Acting similarly to spyware, some types of adware track your movement and activities online in order to tailor specific adverts to you
    Operating as a middle man, adware can redirect your activities through them in order to share adverts with you
    Adware uses up your data, with every pop-up download eating away at your allowance
    Slowing down your computer, running adware uses up power affecting your device’s performance</B></p>
  <br>
  <br>
  <h1 style="color:black"><B>
  
  
  </B></h1>
  
  <p style="color:black;"><B> </B></p>
                <!--<h3 style="color:grey">TECHNOLOGIES WE ARE DEALING WITH..</h3>
          <div class="list-style">
            <div style="color:black;" class="col-lg-12 col-sm-12 col-xs-12">
              <ul><b>
                <li>Implimentation of Artificial Intelligence concepts</li><br>
                <li>Machine learning for learning of new attacks</li><br>
                <li>Deep Data Mining for Mining of contents from file</li><br>
                <li>All Important Cyber Security Concepts</li><br>
                </b>
              </ul>
            </div>
            
          </div>
        
       </div>

                -->




</center>

</div>

</center>
</div>

</center></body>
</html>

{% endblock %}
