
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CYBERSPY</title>
<meta name="description" content="">
<meta name="author" content="">

<!--CARUSEL-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="\static\css\bootstrap.css">
<link rel="stylesheet" type="text/css" href="\static\css\font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="\static\css\style.css">
<link rel="stylesheet" type="text/css" href="\static\css\nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="\static\css\nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
 
 <center><br>

 <div id="header" style="width:98%;background-position:center;background-color: white;background-repeat:no-repeat;">

 <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default" style="background-color: black;">
            <div class="container">
                <div class="navbar-header" >
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                     <br><img src="../static/new/cyberspy.jpg" width="250px" height="70px">
    
                </div>
                <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right hidden-md hidden-sm hidden-xs">
                       <br><br>
                    <ul class="nav navbar-nav navbar-right menu-top">

                        <li><a href="/Home"><H4 style="color:white;">HOME</style></H4></a></li>

                        <li><a href="/Registration"><H4 style="color:white;">REGISTER NOW</style></H4></a></li>

                        <li><a href="/login"><H4 style="color:white;">LOGIN</style></H4></a></li>
                       <!-- <li><a href="/Adminlogin"><H4 style="color:white;">ADMIN LOGIN</style></H4></a></li>-->


                        <li><a class="About_us scroll" href="#about"><H4 style="color:white;">ABOUT US</style></H4></a></li>
                       
                        <li><a class="About_us scroll" href="#contact"><H4 style="color:white;">CONTACT US</style></H4></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    </div>
    </center>
<!-- Header -->

  <div class="container" style="width:97%;background-position:center;background-color:black">

<center><img src="../static/images/attack-defence.jpg" alt="" width="1250" height="500" border="0"></center>

 </div>
</div>


<!-- Features Section -->

<!--  <div id="features" class="text-center">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 section-title">
      <h2>OUR SERVICES</h2>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>REGISTER NOW</h3>

        <a href="Registration"><img src="/static/img/reg.png" width="150px" height="150px"></a>
        
      </div>

      <div class="col-xs-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>LOGIN </h3>

        <a href="login"><img src="/static/img/lo.jpg" width="190px" height="150px"></a>
        
      </div>

      <div class="col-xs-6 col-md-3"> <i class="fa fa-bullhorn"></i>
        <h3>FILE SHARING</h3>
       
       <a href="file_sharing"><img src="/static/img/download (1).png" width="140px" height="140px"></a>
      
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-group"></i>
        
        <h3>FEEDBACK & RATING</h3>
        
        <a href="login"><img src="/static/img/images (8).png" width="170px" height="150px"></a>

      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-magic"></i>
      <br>
        <h3>NOTIFICATIONS</h3>
       
        <a href="Registration"><img src="/static/img/images.jfif" width="170px" height="170px"></a>
      
      </div>

      <div class="col-xs-6 col-md-3"> <i class="fa fa-magic"></i>
      <br>
      
        <h3>ATTACK DETECTION</h3>
       
        <a href="Registration"><img src="/static/img/images (14).png" width="170px" height="170px"></a>
      
      </div>
      <div class="col-xs-6 col-md-3"> <i class="fa fa-magic"></i>
      <br>
        <h3>SELF UPDATION</h3>
       
        <a href="Registration"><img src="/static/img/96-967460_ai-machine-learning-icon.jpg" width="190px" height="170px"></a>
      
      </div>

      <div class="col-xs-6 col-md-3"> <i class="fa fa-magic"></i>
      <br>
        <h3>USER PROFILE</h3>
       
        <a href="Registration"><img src="/static/img/update.jpg" width="170px" height="170px"></a>
      
      </div>
      
    </div>
  </div>
</div>


-->


                                            <!--  About Section -->


<div id="about" class="about">
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="/static/images/Security.png" height="230px" width="450px" class="img-responsive" alt="">
      <br>
      <img src="/static/images/gettyimages-920743046.webp" height="250px" width="450px" class="img-responsive" alt="">  
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2 style="color:black">About Us</h2>
          <p style="color:black;"><B> CyberSpy is a very efficient & automatic DDOS attack 
          detection Software which is completely worked based on ARTIFICIAL INTELLIGENCE cum MACHINE LEARNING.
          Our methods reveal some malware that can prevent detection of antiviral scanners. 
          In addition, we design a detection system to drive traffic to your own-institutional enterprise network,
           home network, and 3G / 4G mobile network.
           Integrating the system connected to the computer to find suspicious network behaviors.
          
          </B></p>
          <h3 style="color:grey">TECHNOLOGIES WE ARE DEALING WITH..</h3>
          <div class="list-style">
            <div style="color:black;" class="col-lg-12 col-sm-12 col-xs-12">
              <ul><b>
                <li>Implimentation of Artificial Intelligence concepts</li><br>
                <li>Machine learning for learning of new attacks</li><br>
                <li>Deep Data Mining for Mining of contents from file</li><br>
                <li>All Important Cyber Security Concepts</li><br>
                </b>
              </ul>
            </div>
            
          </div>
        
       </div>
       
      </div>
    </div>
  </div>

</div>
  
                                  <!-- # Services Section -->         

<center>
<div id="services" style="width:97%;background-position:center;" class="text-center">
  <div class="container" >
    <div class="section-title">
      <h2>Our Services</h2>
      <p>CYBERSPY provides various services for secure sharing of files..</p>
    </div>
    <div class="row">
      <div class="col-md-4"> <i class="fa fa-wordpress"></i>
        <div class="service-desc">
          <h3>FILE SHARING MANAGEMENT</h3>
          <p>Sharing of different types of files and messages with high safety</p>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-cart-arrow-down"></i>
        <div class="service-desc">
          <h3>FILE INBOX MANAGEMENT</h3>
          <p> You can view your message inbox , received files and Give replies to the users with same safety measures</p>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-cloud-download"></i>
        <div class="service-desc">
          <h3>ABOUT CYBER ATTACK</h3>
          <p>To learn/understand the various types of cyber attacks in detail</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"> <i class="fa fa-language"></i>
        <div class="service-desc">
          <h3>UPDATE YOUR PROFILE</h3>
          <p>You can update ur registration details such as name,email id,passwords etc.</p>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-plane"></i>
        <div class="service-desc">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-pie-chart"></i>
        <div class="service-desc">
          <h3>CYBER ATTACK PREVENTION TIPS</h3>
          <p>You will get a clear idea about How to get rid of cyber attacks easily.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</center>

                               <!--               # Gallery Section -->


<div id="portfolio"  class="text-center">
  <div class="container">
   
      <h2>DIFFERENT TYPES OF CYBER ATTACKS NOW EXISTS IN WORLD WIDE</h2><br>
    
    <div style="width:1150px;height:770px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

       <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/dos.png" width="370px" height="250px"><br>
        
        </div>

        <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/MITM-FB-en-990x518.png" width="370px" height="250px">
        
        </div>

        <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/phishing_en.png" width="370px" height="250px">
        
        </div>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
      
        <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/keylogger_en.png" width="370px" height="250px">
        
        </div>

        <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/exploit.png" width="370px" height="250px">
        
        </div>

        <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/adware_pc.png" width="370px" height="250px">
        
        </div>
      
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
      
        <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/164069104-bitdefender-wallpapers.png" width="370px" height="250px">
        
        </div>

        <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/ransomware.png" width="370px" height="250px">
        
        </div>

        <div style="width:383.3px;height:200px;float:left;background-position:center;background-repeat:no-repeat;">
  
            <img src="/static/cyberattacks/abc.png" width="370px" height="250px">
        
        </div>

        
       <!--<div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="/static/img/portfolio/02-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="/static/img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        </div>
             -->
      
    </div>
  </div>
</div>                                

<div id="testimonials" >
  <div class="container">
    <div class="section-title text-center">
      <h2>What our clients say</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="/static/img/testimonials/01.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
            <div class="testimonial-meta"> - John Wick </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="/static/img/testimonials/02.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis."</p>
            <div class="testimonial-meta"> - Johnathan Harker </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="/static/img/testimonials/03.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
            <div class="testimonial-meta"> - Peter Beck </div>
          </div>
        </div>
      </div>
      <div class="row"> </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="/static/img/testimonials/04.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
            <div class="testimonial-meta"> - Andriana Reaves </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="/static/img/testimonials/05.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
            <div class="testimonial-meta"> - James Maguire </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="/static/img/testimonials/06.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis."</p>
            <div class="testimonial-meta"> - Kate Watson </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                                              
                        <!--                     # Team Section 

<div id="team" class="text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 section-title">
      <h2>Meet the Team</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div id="row">
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="/static/img/team/01.jpg" alt="..." class="team-img">
          <div class="caption">
            <h4>John Doe</h4>
            <p>Director</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="/static/img/team/02.jpg" alt="..." class="team-img">
          <div class="caption">
            <h4>Mike Doe</h4>
            <p>Senior Designer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="/static/img/team/03.jpg" alt="..." class="team-img">
          <div class="caption">
            <h4>Jane Doe</h4>
            <p>Senior Designer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team">
        <div class="thumbnail"> <img src="/static/img/team/04.jpg" alt="..." class="team-img">
          <div class="caption">
            <h4>Karen Doe</h4>
            <p>Project Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

-->                                       
                                            
<center>
 <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style>
<div id="contact" style="width:97%;background-position:center;" class="text-center">
  <h2><b>GET IN TOUCH WITH US</b></h2>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 12.905630, lng: 77.603851};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbdQR5ydrIu_NZ0AUCBEYf4AOKgj2mHb8&callback=initMap">
    </script>
   
  <!--  <div class="col-md-3 col-md-offset-1 contact-info">
      <div class="contact-item">
        <h3><b>CONTACT INFO</b></h3>
        <p><span><i class="fa fa-map-marker"></i> Address</span>4321 California St,<br>
          San Francisco, CA 12345</p>
      </div>
      <div class="contact-item">
        <p><span><i class="fa fa-phone"></i> Phone</span> +9 123 456 1234</p>
      </div>
      <div class="contact-item">
        <p><span><i class="fa fa-envelope-o"></i> Email</span> Globalcyberspy007.com</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
 -->       
      </div>
    </div>
  </div>
</div>
</center>



                                         <!-- Footer Section -->
<br>
<center>

<!--<div id="footer" style="width:98%;height:150px;background-color: black;background-position:center;background-repeat:repeat;">

  <div class="container text-center" style="color:white;">
    <p>&copy; 2017 Interact. Design by <a href="http://www.templatewire.com" rel="nofollow">Teneena Nelson</a></p>
  </div>
</div>-->

</center>
<script type="text/javascript" src="static/login_template/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="static/login_template/js/bootstrap.js"></script> 
<script type="text/javascript" src="static/login_template/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="static/login_template/js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="static/login_template/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="static/login_template/js/contact_me.js"></script> 
<script type="text/javascript" src="static/login_template/js/main.js"></script>
</body>
</html>

