
{% extends 'head2_tail2.html' %}

{% block ddos %}

<html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:1000px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br>
<center>

<div style="width:90%;height:920px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<center>

<H2 style="color:black;"><br>INFECTED USB</style></H2>
    
    <center>

  <div style="width:80%;height:800px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

          <p style="color:black;"><B>It’s possible to come across both unintentional and intentional infection. The Stuxnet worm is an example, where someone uploads malicious code onto the drive with the intention of filtering the code into the targeted network.

            Unintentional infection might occur when someone plugs an unprotected USB into a poorly safeguarded system in an internet café, airport or anywhere with poor public endpoint security (which is about 70% of places). You may detect the virus sometime after you’ve plugged the device into your machine, but there’s no telling what damage may have already been done.

      </B></p>
          
      <h1 style="color:black"><B></B></h1>


 <p style="color:black;"><B>
  
</B></p>


<br>

<h1 style="color:black"><B>How to protect your USB device?
  
  </B></h1>


 <p style="color:black;"><B>If you’re using a USB drive to transfer files across several host devices, it can make you vulnerable to malware – and you can never be too careful when it comes to USB security, particularly if you’re handling sensitive data.

  Contracting a virus can take a matter of seconds from the moment you plug the device into the host network. Whether you contract ransomware, which locks down your entire system, or silent malware that infects your machine quietly, it could do huge damage by the time you’ve noticed it.
  
  Unfortunately, USB flash drive malware doesn’t work like an email virus (which requires you to click on something), all it takes is plugging an infected USB into a machine. 
  
  Having said that, there are several different methods that you can use to ensure that your data isn’t exposed and about to fall into the wrong hands.
  </B>
 <br>
 <br>
  
  <h1 style="color:black"><B>How to defect USB Drive Malware?</B></h1>
  
  <p style="color:black;"><B>Write Protectors
    If your USB drive doesn’t include a hardware switch for write protection, then you should be using a software write protector, such as USB Write Protect 2.0. A software write protector will effectively prevent any data from being deleted as well as protect the device from malware being written onto your drive.
    
    USB Anti-Virus
    If you have write protection enabled, there is still a possibility of contracting a virus when you go to transfer files, so it makes sense to use a decent USB anti-virus such as ClamWin.
    
    Encryption
    If you’re looking to protect your privacy by securing your data, you could install an encryption program like VeraCrypt or BitLocker to Windows for password protection on your USB device.
    
    This means that even if someone has access to your device, it will make it much harder for them to retrieve sensitive information or hide malicious files inside your existing files and folders.
    
    Protect Your Host Device
    If your device is unintentionally infected, you probably won’t know about it immediately. The best thing to do is to protect yourself from the outset by installing software that will inform you if your removable device is infected with malicious malware.
    
    USB Firewall will protect your computer from third-party programmes introduced from a USB device by running in the background and informing you of suspicious activity.
   </B></p>
  <br>
  <br>
  <!--<h1 style="color:black"><B>
    
  
  </B></h1>
  
  <p style="color:black;"><B> One way to protect your organisations from phishing is user education. Education should involve all employees. High-level executives are often a target. Teach them how to recognise a phishing email and what to do when they receive one. Simulation exercises are also key for assessing how your employees react to a staged phishing attack.</B></p>
  
  
      </B></p>-->
                <!--<h3 style="color:grey">TECHNOLOGIES WE ARE DEALING WITH..</h3>
          <div class="list-style">
            <div style="color:black;" class="col-lg-12 col-sm-12 col-xs-12">
              <ul><b>
                <li>Implimentation of Artificial Intelligence concepts</li><br>
                <li>Machine learning for learning of new attacks</li><br>
                <li>Deep Data Mining for Mining of contents from file</li><br>
                <li>All Important Cyber Security Concepts</li><br>
                </b>
              </ul>
            </div>
            
          </div>
        
       </div>

                -->




</center>

</div>

</center>
</div>

</center></body>
</html>

{% endblock %}
