
{% extends 'head2_tail2.html' %}

{% block ddos %}

<html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:1000px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br>
<center>

<div style="width:90%;height:920px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<center>

<H2 style="color:black;"><br>PHISHING</style></H2>
    
    <center>

  <div style="width:80%;height:800px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

          <p style="color:black;"><B>

      </B></p>
          
      <h1 style="color:black"><B></B></h1>


 <p style="color:black;"><B>Phishing attacks are the practice of sending fraudulent communications that appear to come from a reputable source. It is usually done through email. The goal is to steal sensitive data like credit card and login information, or to install malware on the victim’s machine. Phishing is a common type of cyber attack that everyone should learn about in order to protect themselves. 



      </B></p>


<br>

<h1 style="color:black"><B>Which security technology is the best?
  
  </B></h1>


 <p style="color:black;">
 <B>No single cybersecurity technology can prevent phishing attacks.</B>
 <br>
 <br>
  
  <h1 style="color:black"><B>What are the dangers of phishing attacks?</B></h1>
  
  <p style="color:black;"><B> Sometimes attackers are satisfied with getting a victim’s credit card information or other personal data for financial gain. Other times, phishing emails are sent to obtain employee login information or other details for use in an advanced attack against a specific company. Cybercrime attacks such as advanced persistent threats (APTs) and ransomware often start with phishing.</B></p>
  <br>
  <br>
  <h1 style="color:black"><B>
    How to sensitise users to phishing attacks?
  
  </B></h1>
  
  <p style="color:black;"><B> One way to protect your organisations from phishing is user education. Education should involve all employees. High-level executives are often a target. Teach them how to recognise a phishing email and what to do when they receive one. Simulation exercises are also key for assessing how your employees react to a staged phishing attack.</B></p>
  
  
      </B></p>
                <!--<h3 style="color:grey">TECHNOLOGIES WE ARE DEALING WITH..</h3>
          <div class="list-style">
            <div style="color:black;" class="col-lg-12 col-sm-12 col-xs-12">
              <ul><b>
                <li>Implimentation of Artificial Intelligence concepts</li><br>
                <li>Machine learning for learning of new attacks</li><br>
                <li>Deep Data Mining for Mining of contents from file</li><br>
                <li>All Important Cyber Security Concepts</li><br>
                </b>
              </ul>
            </div>
            
          </div>
        
       </div>

                -->




</center>

</div>

</center>
</div>

</center></body>
</html>

{% endblock %}
