
{% extends 'head2_tail2.html' %}

{% block ddos %}

<html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:1000px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br>
<center>

<div style="width:90%;height:920px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<center>

<H2 style="color:black;"><br>RANSOMEWARE</style></H2>
    
    <center>

  <div style="width:80%;height:800px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

          <p style="color:black;"><B>Ransomware is a malware designed to deny a user or organization access to files on their computer. By encrypting these files and demanding a ransom payment for the decryption key, cyberattackers place organizations in a position where paying the ransom is the easiest and cheapest way to regain access to their files. Some variants have added additional functionality – such as data theft – to provide further incentive for ransomware victims to pay the ransom.

            Ransomware has quickly become the most prominent and visible type of malware. Recent ransomware attacks have impacted hospitals’ ability to provide crucial services, crippled public services in cities, and caused significant damage to various organizations.

          
            
            </B></p>
          
      <h1 style="color:black"><B></B></h1>


 <p style="color:black;"><B>
  
</B></p>


<br>

<h1 style="color:black"><B>How to remove Ransomeware ?
  
  </B></h1>


 <p style="color:black;"><B>A ransom message is not something anyone wants to see on their computer as it reveals that a ransomware infection was successful. At this point, some steps can be taken to respond to an active ransomware infection, and an organization must make the choice of whether or not to pay the ransom.

  How to Mitigate an Active Ransomware Infection
  Many successful ransomware attacks are only detected after data encryption is complete and a ransom note has been displayed on the infected computer’s screen. At this point, the encrypted files are likely unrecoverable, but some steps should be taken immediately:
  
  Quarantine the Machine: Some ransomware variants will try to spread to connected drives and other machines. Limit the spread of the malware by removing access to other potential targets.
  Leave the Computer On: Encryption of files may make a computer unstable, and powering off a computer can result in loss of volatile memory. Keep the computer on to maximize the probability of recovery.
  Create a Backup: Decryption of files for some ransomware variants is possible without paying the ransom. Make a copy of encrypted files on removable media in case a solution becomes available in the future or a failed decryption effort damages the files.
  Check for Decryptors: Check with the No More Ransom Project to see if a free decryptor is available. If so, run it on a copy of the encrypted data to see if it can restore the files.
  Ask For Help: Computers sometimes store backup copies of files stored on them. A digital forensics expert may be able to recover these copies if they have not been deleted by the malware.
  Wipe and Restore: Restore the machine from a clean backup or operating system installation. This ensures that the malware is completely removed from the device</B>
 <br>
 <br>
  
  
  <!--<h1 style="color:black"><B>
    
  
  </B></h1>
  
  <p style="color:black;"><B> One way to protect your organisations from phishing is user education. Education should involve all employees. High-level executives are often a target. Teach them how to recognise a phishing email and what to do when they receive one. Simulation exercises are also key for assessing how your employees react to a staged phishing attack.</B></p>
  
  
      </B></p>-->
                <!--<h3 style="color:grey">TECHNOLOGIES WE ARE DEALING WITH..</h3>
          <div class="list-style">
            <div style="color:black;" class="col-lg-12 col-sm-12 col-xs-12">
              <ul><b>
                <li>Implimentation of Artificial Intelligence concepts</li><br>
                <li>Machine learning for learning of new attacks</li><br>
                <li>Deep Data Mining for Mining of contents from file</li><br>
                <li>All Important Cyber Security Concepts</li><br>
                </b>
              </ul>
            </div>
            
          </div>
        
       </div>

                -->




</center>

</div>

</center>
</div>

</center></body>
</html>

{% endblock %}
