
{% extends 'head2_tail2.html' %}

{% block ddos %}

<html>
<body><center>

<div style="width:97%;margin:(0px,0px);padding:0px; height:1000px;background-image: url(\\static\\bg3.gif);background-repeat:no-repeat;background-position:center;background-size:cover;">

<br><br>
<center>

<div style="width:90%;height:920px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

<center>

<H2 style="color:black;"><br>SMS Sender</style></H2>
    
    <center>

  <div style="width:80%;height:800px;background-color: white;float:center;background-position:center;background-repeat:no-repeat;">

          <p style="color:black;"><B>All mobile devices are vulnerable to various threats. These threats continue to grow year over year and will continue to pose a major risk to mobile device users in the years to come. SMS attacks, in particular, pose a significant threat to all mobile users.

            SMS attacks involve the creation and distribution of malware by cybercriminals designed to target a victim’s mobile device. These Trojan, in turn, are designed to make unauthorized calls or send unauthorized texts without the user’s knowledge or consent. These calls and texts are subsequently directed to chargeable SMS text services or premium-charge numbers operated by the cybercriminal, generating significant revenue streams for cybercriminal networks.
      </B></p>
      <br>
      <br>
          
      <h1 style="color:black"><B>How to protect against mobile malware?</B></h1>


 <p style="color:black;"><B>
  By installing effective anti-malware software, you can defend your mobile devices against Trojans that initiate SMS attacks and unauthorised calls. While Kaspersky Mobile Security delivers world-class protection for Android smartphones, Kaspersky Tablet Security can help to ensure your tablet is secured against Trojans and other malware attacks.
  
  
  

      </B></p><h1 style="color:black"><B>Weaponised Malware Attack</B></h1>


      <p style="color:black;"><B>A new SMS malware campaign capable of stealing passwords and banking credentials has started spreading like wildfire in recent weeks. So much so that mobile carriers and law enforcement agencies alike have been prompted to issue warnings about the so-called FluBot campaign.

        Although the hook to the SMS phishing message is an old one, based on the 'you have a parcel delivery' theme, the exploitation method and the way the campaign is evolving are real causes for concern.
        
        What started with text messages claiming to be from parcel courier DHL quickly morphed to include Royal Mail. Now it has started to target users of shopping brands such as Amazon, Argos and Asda. They all have in common the order delivery notification that informs the user they need to click a link for tracking information as the order is on the way.
        
        
  
  

      </B></p>

       
       
       
     
           </B></p>


<!--<h1 style="color:black"><B>How to tell if you’re a victim of DoS</B></h1>


 <p style="color:black;"><B>As expected, if the victim is not tech-savvy it might be difficult to immediately 
 detect the attack or do something about it on their own.
Some basic steps you can follow are to first check if your website slow. If it’s taking longer than usual to 
run you can start scanning your computer and also check log files. Users know they are dealing with a DoS attack 
when the website reads ‘service unavailable’.
Because they are usually launched from multiple locations, DDoS attacks can’t be stopped only by cutting off one 
IP address. The wisest thing to do is to immediately take care of the problem and contact your Internet Service
 Provider for assistance. Alternatively, you can design your infrastructure with load balancing in mind to be 
 able to briefly accommodate a much larger number of visitors than your site usually experiences.


      </B></p>


          <!--<h3 style="color:grey">TECHNOLOGIES WE ARE DEALING WITH..</h3>
          <div class="list-style">
            <div style="color:black;" class="col-lg-12 col-sm-12 col-xs-12">
              <ul><b>
                <li>Implimentation of Artificial Intelligence concepts</li><br>
                <li>Machine learning for learning of new attacks</li><br>
                <li>Deep Data Mining for Mining of contents from file</li><br>
                <li>All Important Cyber Security Concepts</li><br>
                </b>
              </ul>
            </div>
            
          </div>
        
       </div>

                -->




</center>

</div>

</center>
</div>

</center></body>
</html>

{% endblock %}